<div id="turbo_notes" class="flex flex-col gap-2">
  <div class="rounded border">
    <h2 class="text-lg font-bold p-4">#<%= tag.title %></h2>
    <table class="w-full text-sm table-fixed text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th class="px-6 py-3">
            Title
          </th>
          <th class="px-6 py-3">
            Description
          </th>
          <th class="px-6 py-3">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <% tag.notes.each do |note| %>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <%= note.title%>
            </th>
            <td class="px-6 py-4 truncate">
              <%= note.description %>
            </td>
            <td class="px-6 py-4">
              <%= link_to "Details", edit_note_path(note.id), data: { turbo_frame: "global_modal" }, class: "text-red-500 font-bold" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>