<section id="dashboard_screen" class="grid h-[100dvh] grid-cols-[18rem,_1fr]">
  <!-- SIDENAV -->
  <div class="flex flex-col gap-2 bg-neutral-900">
    <%= render partial: "dashboard/custom_main_list"%>
    <%= render partial: "dashboard/custom_sub_list"%>
  </div>
  <!-- CONTENT -->
  <div class=""></div>
</section>