<div class="mt-7">
  <% if alert %>
    <p class="flex h-10 items-center rounded border border-red-500 bg-red-200 px-4 text-red-500">
      <%= alert %>
    </p>
  <%else%>
    <p class="flex h-10 items-center rounded px-4">
    </p>
  <% end %>
</div>