<div class="p-5 flex justify-between">
  <button 
    data-action="click->global-modal#hideModalHandler" 
    class="h-10 rounded border border-red-500 px-8 text-red-500"
    >
    Close
  </button>
  <%= yield %>
</div>